{% extends "base.html" %}
{% block content %}
<div class='container'>
<div class='row'>
    <div class='col-md-12'>
        <div class='panel panel-default'>
            <div class='panel-heading' align=center>
                <h3>用户信息</h3>
            </div>
        </div>
    </div>
</div>
<div class='row'>
    <div class='col-md-12'>
        <div class='panel panel-primary'>
            <div class='panel-heading' align=center>
            </div>
            <div class='panel panel-body'>
                昵称：{{ username }}<br/>
                {% if port == 'no' %}
                    点击生成Spring和Mysql端口
                    <a href="/addport">
                    <button>生成端口</button>
                    </a>
                {% else %}
                    Spring映射端口：{{ sport }}<br/>
                    Mysql映射端口 ：{{ mport}}
                {% endif %}
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}